# Shared
fastapi
uvicorn
python-multipart
torch

# classification
torchvision
pillow
rembg
pytrends
transformers
scipy

# recommendation
torch-geometric
scikit-learn
pandas

# organization
sqlalchemy
joblib
